{% extends "base.html" %}
{% block content %}
<br>
<div class="page-header">
    <h1>Alerts</h1>
    <div class="list-group">
        {% for alert in alerts %}
        <a class="list-group-item" href="{{ url_for('alerts.get_alert_page', alert_id=alert._id) }}">
            <h4 class="list-group-item-heading">{{ alert.item.name }}</h4>
            <p class="list-group-item-text">Alert price: ${{ alert.price_threshold }}</p>
            {% if alert.active == True %}
            <p class="list-group-item-text">This alert is active</p>
            {% else %}
            <p class="list-group-item-text">This alert is <strong>deactivated</strong></p>
            {% endif %}
        </a>
        {% endfor %}
    </div>

</div>
<a type="button" class="btn btn-primary" href="{{ url_for('alerts.create_alert') }}"><span
        class="glyphicon glyphicon-plus"></span>Create an alert</a>
{% endblock %}