{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <div class="list-group">
        <br>
        <a class="list-group-item">
            <div>
                <h4 class="list-group-item-text"><strong>{{ store.name }}</strong></h4>
                <p class="list-group-item-text">URL prefix: {{ store.url_prefix }}</p>
                <p class="list-group-item-text">Tag name: {{ store.tag_name }}</p>
                <p class="list-group-item-text">Query: {{ store.query }}</p>
            </div>
        </a>
    </div>
    {% if session['email'] in configuration['admins'] %}
    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-light" role="button" href="{{ url_for('stores.edit_store', store_id=store._id) }}">Edit
                store</a>
        </div>
        <br><br>
        <div class="panel-body">
            <a class="btn btn-danger" role="button">Delete store</a>
        </div>

    </div>
    {% endif %}
</div>
{% endblock %}